<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Tomato Bacterial Spot</title>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-left">
          <h3>Tomato Bacterial Spot</h3>
          <div class="photo">
            <img src="../static/img/tomato_bacterial-spot.jpg" alt="" />
          </div>
          <div class="info">
            <p>
              Bacterial spot of tomato is a potentially devastating disease
              that, in severe cases, can lead to unmarketable fruit and even
              plant death. Bacterial spot can occur wherever tomatoes are grown,
              but is found most frequently in warm, wet climates, as well as in
              greenhouses. The disease is often an issue in Wisconsin.
            </p>
          </div>
        </div>

        <div class="card-right">
          <div class="items">
            <div class="item">
              <h4>Symptoms</h4>
              <p>
                Small, water-soaked spots, light green areas, or both. As these
                spots enlarge, the tissue in the center dies and turns brown.
                These irregularly shaped spots are bordered by a lemon yellow
                ring.
              </p>
            </div>
            <div class="item">
              <h4>Causes</h4>
              <p>
                Bacterial spot of tomato is caused by Xanthomonas vesicatoria,
                Xanthomonas euvesicatoria, Xanthomonas gardneri, and Xanthomonas
                perforans. These bacterial pathogens can be introduced into a
                garden on contaminated seed and transplants, which may or may
                not show symptoms.
              </p>
            </div>
            <div class="item">
              <h4>Control and Treatment</h4>
              <p>
                Plant pathogen-free seed or transplants to prevent the
                introduction of bacterial spot pathogens on contaminated seed or
                seedlings. To keep leaves dry and to prevent the spread of the
                pathogens, avoid overhead watering
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
