<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Tomato Early Blight</title>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-left">
          <h3>Tomato Early Blight</h3>
          <div class="photo">
            <img src="../static/img/early-blight.jpg" alt="" />
          </div>
          <div class="info">
            <p>
              Early blight is a common tomato disease caused by the fungus
              Alternaria solani. It can affect almost all parts of the tomato
              plants, including the leaves, stems, and fruits. The plants may
              not die, but they will be weakened and will set fewer tomatoes
              than normal.
            </p>
          </div>
        </div>

        <div class="card-right">
          <div class="items">
            <div class="item">
              <h4>Symptoms</h4>
              <p>
                Early blight infection starts at the bottom of the plant with
                leaf spotting and yellowing. Initially, small dark spots form on
                older foliage near the ground. Leaf spots are round, brown and
                can grow up to 1/2 inch in diameter.
              </p>
            </div>
            <div class="item">
              <h4>Causes</h4>
              <p>
                Early blight of tomato is caused primarily by the fungus
                Alternaria linariae (=A. tomatophila; formerly known as A.
                solani), although other species of Alternaria may be isolated
                from lesions.
              </p>
            </div>
            <div class="item">
              <h4>Control and Treatment</h4>
              <p>
                Prune or stake plants to improve air circulation and reduce
                fungal problems. Make sure to disinfect your pruning shears (one
                part bleach to 4 parts water) after each cut. Keep the soil
                under plants clean and free of garden debris. Add a layer of
                organic compost to prevent the spores from splashing back up
                onto vegetation.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
