<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Tomato Healthy Leaf</title>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-left">
          <h3>Tomato Healthy Leaf</h3>
          <div class="photo">
            <img src="../static/img/healthy_leaf.jpg" alt="" />
          </div>
          <div class="info">
            <p>
              Septoria leaf spot is caused by the fungus Septoria lycopersici.
              This fungus can attack tomatoes at any stage of development, but
              symptoms usually first appear on the older, lower leaves and stems
              when plants are setting fruit. Symptoms usually appear on leaves,
              but can occur on petioles, stems, and the calyx.
            </p>
          </div>
        </div>
        <div class="card-right">
          <div class="items">
            <div class="item">
              <h4>Symptoms</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
                minus tenetur, possimus ea laudantium, corporis nihil vel porro
                quidem molestiae totam doloribus magni. Dolores, eveniet sequi
                labore voluptas reprehenderit non.
              </p>
            </div>
            <div class="item">
              <h4>item 2</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
                minus tenetur, possimus ea laudantium, corporis nihil vel porro
                quidem molestiae totam doloribus magni. Dolores, eveniet sequi
                labore voluptas reprehenderit non.
              </p>
            </div>
            <div class="item">
              <h4>item 3</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
                minus tenetur, possimus ea laudantium, corporis nihil vel porro
                quidem molestiae totam doloribus magni. Dolores, eveniet sequi
                labore voluptas reprehenderit non.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
