<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Tomato Late Blight</title>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-left">
          <h3>Tomato Late Blight</h3>
          <div class="photo">
            <img src="../static/img/tomato-late-blight.jpg" alt="" />
          </div>
          <div class="info">
            <p>
              Late blight is a potentially devastating disease of tomato and
              potato, infecting leaves, stems, tomato fruit, and potato tubers.
              The disease spreads quickly in fields and can result in total crop
              failure if untreated.
            </p>
          </div>
        </div>
        <div class="card-right">
          <div class="items">
            <div class="item">
              <h4>Symptoms</h4>
              <p>
                The first symptoms of late blight on tomato leaves are
                irregularly shaped, water-soaked lesions, often with a lighter
                halo or ring around them. These lesions are typically found on
                the younger, more succulent leaves in the top portion of the
                plant canopy.
              </p>
            </div>
            <div class="item">
              <h4>Causes</h4>
              <p>
                Tomato late blight is caused by the oomycete pathogen
                Phytophthora infestans (P. infestans).
              </p>
            </div>
            <div class="item">
              <h4>Control and Treatment</h4>
              <p>
                Apply a copper based fungicide (2 oz/ gallon of water) every 7
                days or less, following heavy rain or when the amount of disease
                is increasing rapidly. Safely treat fungal problems with
                SERENADE Garden.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
