<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Tomato leaf Mold</title>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-left">
          <h3>Tomato Leaf Mold</h3>
          <div class="photo">
            <img src="../static/img/leaf_mold.jpg" alt="" />
          </div>
          <div class="info">
            <p>
              Tomato leaf mold is a foliar disease that is especially
              problematic in greenhouse and high tunnels. It was first described
              in 1883 as a pathogen that causes leaf lesions. It is less common
              in the field compared to greenhouses and high tunnels.
            </p>
          </div>
        </div>
        <div class="card-right">
          <div class="items">
            <div class="item">
              <h4>Symptoms</h4>
              <p>
                On the upper leaf surface, small, diffuse, pale green or
                yellowish spots with indefinite margins appear. On the
                underside, olive green to grayish purple and velvety patches
                develop below the leaf spots.
              </p>
            </div>
            <div class="item">
              <h4>Causes</h4>
              <p>
                Leaf mold is caused by the fungus Passalora fulva (previously
                called Fulvia fulva or Cladosporium fulvum). It is not known to
                be pathogenic on any plant other than tomato.
              </p>
            </div>
            <div class="item">
              <h4>Control and Treatment</h4>
              <p>
                Seed treatment with hot water (25 minutes at 122 °F or 50 °C) is
                recommended to avoid the pathogen on seeds.Recommended compounds
                in field use are chlorothalonil, maneb, mancozeb and copper
                formulations. For greenhouses, difenoconazole, mandipropamid,
                cymoxanil, famoxadone and cyprodinil are recommended.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
