<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Tomato Mosaic Virus</title>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-left">
          <h3>Tomato Mosaic Virus</h3>
          <div class="photo">
            <img src="../static/img/tomato_mosaic_virus.jpg" alt="" />
          </div>
          <div class="info">
            <p>
              Tomato mosaic virus (ToMV) is a plant pathogenic virus. It is
              found worldwide and affects tomatoes and many other plants.It is
              found worldwide and affects tomatoes and many other wide host
              range plants including many agricultural crops and weeds such as
              tobacco and beans, all of which can serve as inoculum sources.
            </p>
          </div>
        </div>
        <div class="card-right">
          <div class="items">
            <div class="item">
              <h4>Symptoms</h4>
              <p>
                A wide range of symptoms include abnormally shaped fruit, fruit
                lesions, reduced fruit size, distorted growing points, abnormal
                color (often yellowing), form, and patterns on leaves, distorted
                stems, and distortion and dwarfing of the plant as a whole.
              </p>
            </div>
            <div class="item">
              <h4>Causes</h4>
              <p>
                The tomato potyviruses are transmitted plant-to-plant by many
                species of aphids. Aphids only retain the ability to transmit
                these viruses for very short periods of time (minutes to a few
                hours). Thus, spread is often very rapid and localized.
              </p>
            </div>
            <div class="item">
              <h4>Control and Treatment</h4>
              <p>
                Remove all infected plants and destroy them. Do NOT put them in
                the compost pile, as the virus may persist in infected plant
                matter. Burn infected plants or throw them out with the garbage.
                Monitor the rest of your plants closely, especially those that
                were located near infected plants.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
