<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Tomato Target Spot</title>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-left">
          <h3>Tomato Target Spot</h3>
          <div class="photo">
            <img src="../static/img/Tomato_target_spot.png" alt="" />
          </div>
          <div class="info">
            <p>
              Target spot of tomato is caused by the fungal pathogen Corynespora
              cassiicola. 1 The disease occurs on field-grown tomatoes in
              tropical and subtropical regions of the world. Target spot was
              first observed on tomatoes in the U.S. in Immokalee, Florida in
              1967.
            </p>
          </div>
        </div>
        <div class="card-right">
          <div class="items">
            <div class="item">
              <h4>Symptoms</h4>
              <p>
                Target spot symptoms begin as small dark lesions which enlarges
                to form light brown lesions with concentric pattern and a yellow
                halo around it in the transplants.
              </p>
            </div>
            <div class="item">
              <h4>Causes</h4>
              <p>
                Target spot of tomato is caused by the fungal pathogen
                Corynespora cassiicola.
              </p>
            </div>
            <div class="item">
              <h4>Control and Treatment</h4>
              <p>
                The primary strategy used to manage target spot on tomato is the
                regular application of fungicides. Applications should begin
                before symptoms appear when conditions are favorable for
                infection and disease development.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
