<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Tomato Yellow Leaf Curl</title>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-left">
          <h3>Tomato Yellow Leaf Curl</h3>
          <div class="photo">
            <img src="../static/img/tomato_yellow_leaf_curl.jpg" alt="" />
          </div>
          <div class="info">
            <p>
              Tomato yellow leaf curl virus (TYLCV) is a DNA virus from the
              genus Begomovirus and the family Geminiviridae. TYLCV causes the
              most destructive disease of tomato, and it can be found in
              tropical and subtropical regions causing severe economic losses.
            </p>
          </div>
        </div>
        <div class="card-right">
          <div class="items">
            <div class="item">
              <h4>Symptoms</h4>
              <p>
                Plants are stunted or dwarfed. New growth only produced after
                infection is reduced in size. Leaves are often bent downwards,
                stiff, thicker than normal, have a leathery texture, show
                interveinal chlorosis and are wrinkled. Young leaves are
                slightly chlorotic (yellowish).
              </p>
            </div>
            <div class="item">
              <h4>Causes</h4>
              <p>
                Tomato leaf curl disease is caused by viruses in the Geminivirus
                family of plant viruses, and is spread by whiteflies.
              </p>
            </div>
            <div class="item">
              <h4>Control and Treatment</h4>
              <p>
                Use only virus-and whitefly-free tomato and pepper transplants.
                Transplants should be treated with Capture (bifenthrin) or Venom
                (dinotefuran) for whitefly adults and Oberon for eggs and
                nymphs. Imidacloprid or thiamethoxam should be used in
                transplant houses at least seven days before shipping.
                Transplants should be produced in areas well away from tomato
                and pepper production fields.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
